{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('todo_index', {'sort': { 'id': order_by.id }}) }}">Id</a></th>
                <th><a href="{{ path('todo_index', {'sort': { 'title': order_by.title } }) }}">Title</a></th>
                <th><a href="{{ path('todo_index', {'sort': { 'done': order_by.done }}) }}">Done</a></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.done ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('todo_edit', {'id': todo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('todo_new') }}">Create new</a>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
